
	.actions a{
		font-size: 25px;
	font-family: arial;
	margin-right: 80px;
	margin-top: 50px;
	color: gray;
	text-align: justify;
	list-style: none;
	text-decoration: none;	
	border:2px solid;
	border-radius: 2px;
	}
	
.img-circle{
	 margin: 0 0 1em;
   /* width: 6.25em;*/
	margin-left: 70%;
}
